<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="https://rapidui.netlify.app/styles/main.css" />

    <link rel="stylesheet" href="./rules.css" />
    <link rel="stylesheet" href="../../index.css" />

    <title>Rapid Quiz</title>
  </head>
  <body>
    <div class="page-layout">
      <nav class="quiz-navbar">
        <div class="logo">
          <a href="../../index.html" class="quiz-navbar-text">
            <span class="font-family-kaushan">R</span>apid
            <span class="font-family-kaushan">Q</span>uizz</a
          >
        </div>
      </nav>

      <!-- --- main body ---- -->
      <main class="rules-main-container">
        <div class="card-vertical rules-card">
          <img src="../../assets/img/rules.png" alt="" />
          <h3 class="justify-center">Rules to be followed</h3>
          <ul class="rules-main">
            <li class="rule">💪 &nbsp You will face 5 Questions</li>
            <li class="rule">
              💎 &nbsp The right answer will give you 2 points
            </li>
            <li class="rule">😄 &nbsp There is no negative marking</li>
            <li class="rule">🏆 &nbsp Score atleast 70% to win.</li>
          </ul>
          <a href="../quizzes/cosmos/cosmos.html">
            <button class="btn btn-primary start-btn">Start Quiz</button></a
          >
        </div>
      </main>

      <!-- --- footer --- -->

      <footer class="footer">
        <p class="footer-header">Connect with me on</p>
        <a href="https://github.com/vleads"
          ><i class="fab fa-github" aria-hidden="true"></i
        ></a>
        <a href="https://twitter.com/vishalk01234"
          ><i class="fab fa-twitter" aria-hidden="true"></i
        ></a>
        <a href="https://www.linkedin.com/in/vishalkumar28/"
          ><i class="fab fa-linkedin" aria-hidden="true"></i
        ></a>
        <a href="mailto:leader.vishalkumar@gmail.com"
          ><i class="fas fa-envelope" aria-hidden="true"></i
        ></a>
      </footer>
    </div>
    <script src="https://rapidui.netlify.app/js/main.js"></script>
  </body>
</html>
