.quiz-container{
    flex-direction: column;
    align-items: center;
    gap: 2rem
}

.trophy-img{
    width: 8rem;
    height: 15rem;
    display: flex;
    margin: auto;
}

.home-btn{
    display: flex;
    margin: auto;
    margin-bottom: 3rem;
}